@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

html {
    scroll-behavior: smooth;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #414141;
}

button {
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 0.9;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}